/*
 * Разметка главного блока:
 */

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.main-wrap {
  position: relative;
  z-index: 1;
}

.logo {
  background: url("../img/melody-logo.png") center no-repeat;
  height: 83px;
  left: 50%;
  margin-top: 170px;
  overflow: hidden;
  position: absolute;
  text-indent: -100em;
  top: 0;
  transform: translateX(-50%);
  width: 186px;
}

.title {
  color: $color-text-dark;
  display: block;
  font: italic 300 2em $font;
  margin: 0 0 0.2em;
  text-align: center;
}

.text {
  color: $color-text-dark;
  display: block;
  font: 300 0.9em $font;
  margin: 0 0 1em;
}

.modal-window {
  width: 400px;
  height: auto;

  position: fixed;
  top: 50%;
  left: 50%;

  margin-left: -200px;
  margin-top: -75px;

  background-color: rgba(19, 125, 23, 0.6);
  border: 1px solid green;
  border-radius: 5px;

  color: black;
  z-index: 5;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-window--error {
  background-color: rgba(255, 99, 71, 0.7);
  border: 1px solid red;
}

.modal-window-close {
  position: absolute;
  right: -22px;
  top: -22px;

  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;

  width: 22px;
  height: 22px;
  cursor: auto;
}

.modal-window-close::before,
.modal-window-close::after {
  content: '';
  position: absolute;
  background-color: $color-orange;
  width: 19px;
  height: 3px;
  top: 10px;
  left: 2px;
}

.modal-window-close::before{
  transform: rotate(-45deg);
}

.modal-window-close::after{
  transform: rotate(45deg);
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.main-preloader {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -53px;
  margin-top: -53px;
  padding: 0;
  height: 90px;
  width: 90px;
  animation: rotate 0.8s infinite linear;
  background: transparent;
  border: 8px solid $color-orange;
  border-right-color: transparent;
  border-radius: 50%;
}

@import "--level/main--level";
@import "--result/main--result";
@import "--welcome/main--welcome";
@import "timer";
@import "mistake";
